##Latex intermediate files
*.aux
*.bbl
*.blg
*.idx
*.log
*.out
*.synctex.gz
*.toc

#Intermediate graphic files
*-converted-to.*

##Main PDF which is constantly changing
#main.pdf

##Unix temporary files
*~
